@font-face {
    font-family: "Brand Standard";
    src: url("../fonts/BrandStandard.otf");
}

@font-face {
    font-family: "Core Circus";
    src: url("../fonts/S-Core%20-%20Core%20Circus.otf");
}

body {
    position: relative;
    background: url("../images/bg-body-default.jpg") center;
    background-color: #f5f5f3;
    margin: 1px;
    padding: 1px;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;

}

input:focus, button:focus {outline:0;}

#intro h2 {
    font-family: 'Core Circus', sans-serif;
}

#st-preloader {
    background: #FFF;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
}

#pre-status,
.preload-placeholder {
    background-image: url(../images/preloader.gif);
    background-position: center;
    background-repeat: no-repeat;
    height: 40px;
    left: 50%;
    margin: -20px 0 0 -20px;
    position: absolute;
    top: 50%;
    width: 40px;
}

.preload-placeholder {
    background: none;
    left: 0;
    margin: 0;
    text-align: center;
    top: 65%;
}

#panel {
    background-color: transparent;
}

.slideout-menu {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    width: 200px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    background-color: white;
    display: none;
    color: #807869;
}

#why-huskara {
    margin-top: 150px;
}

#menu {
    display: none;
}

.slideout-menu ul{
    list-style: none;
}

.slideout-menu li{
    font-family: 'Core Circus', sans-serif;
    font-size: 20px;
    font-weight: normal;
    margin: 20px 0;
}

.slideout-menu a{
    color: #807869;
}

.slideout-panel {
    position:relative;
    z-index: 1;
    will-change: transform;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
    overflow: hidden;
}

.slideout-open .slideout-menu {
    display: block;
}

#mobile-nav {
    padding: 10px;
}

.fixed {
    backface-visibility: hidden;
    position: fixed;
    z-index:2;
    transition: transform 300ms ease;
}

.fixed-open {
    transform: translate3d(200px, 0px, 0px);
}

#mobile-nav {
    text-align: center;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #bbad92;
    display: none;
}

#desktop-nav {
    font-family: 'Core Circus', sans-serif;
    text-align: center;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(187, 173, 146, 0.95);
}

.berries-mobile {
    display:none;
}

.bottles-mobile {
    display:none;
}

#mobile-nav .fa {
    float: left;
    color: #fffef9;
    cursor: pointer;
}


h1 {
    font-family: 'Brand Standard', cursive;
    color: #bbad92;
    font-size: 80px;
    font-weight: normal;
}

p {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: #635645;
    font-size: 20px;
}

a {
    text-decoration: none;
}

button:focus {outline:0; !important}

.container{
    position: relative;
}

.container{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto;max-width: 900px;}

.top-area {
    font-family: 'Homemade Apple', cursive;
    position: relative;
    height: 550px;
    margin-top: 120px;
}

#north-west {
    position: absolute;
    left: 225px;
    top: 60px;
    background: url("../images/north-west.png") center;
    width: 104px;
    height: 105px;
    padding-top: 15px;
    padding-left: 30px;
    transition: transform 0.15s;
    cursor: pointer;
    box-sizing: border-box;
}

#north {
    position: absolute;
    left: 370px;
    top: 60px;
    background: url("../images/north.png") center;
    width: 117px;
    height: 79px;
    padding-top: 15px;
    padding-left: 30px;
    transition: transform 0.15s;
    cursor: pointer;
    box-sizing: border-box;
}

#north-east {
    position: absolute;
    left: 520px;
    top: 50px;
    background: url("../images/north-east.png") center;
    width: 96px;
    height: 111px;
    padding-top: 25px;
    padding-left: 30px;
    transition: transform 0.15s;
    cursor: pointer;
    box-sizing: border-box;
}

#north-west a, #north a, #north-east a {
    color: #b35d63;
}

#north-west a:hover, #north a:hover, #north-east a:hover{
    text-decoration: none;
    color: #8c3e3e;
}

#north-west:hover, #north:hover, #north-east:hover {
    transform: translateY(-15px);
}

#south-west {
    position: absolute;
    left: 240px;
    top: 280px;
    background: url("../images/south-west.png") center;
    width: 115px;
    height: 89px;
    padding-top: 40px;
    padding-left: 30px;
    transition: transform 0.15s;
    cursor: pointer;
    box-sizing: border-box;
}

#south {
    position: absolute;
    left: 385px;
    top: 290px;
    background: url("../images/south.png") center;
    width: 113px;
    height: 79px;
    padding-top: 40px;
    padding-left: 30px;
    transition: transform 0.15s;
    cursor: pointer;
    box-sizing: border-box;
}

#south-east {
    position: absolute;
    left: 535px;
    top: 285px;
    background: url("../images/south-east.png") center;
    width: 93px;
    height: 88px;
    padding-top: 50px;
    padding-left: 20px;
    transition: transform 0.15s;
    cursor: pointer;
    box-sizing: border-box;
}

#south-west a, #south a, #south-east a {
    color: #b35d63;
}

#south-west a:hover, #south a:hover, #south-east a:hover{
    text-decoration: none;
    color: #8c3e3e;
}


#south-west:hover, #south:hover, #south-east:hover {
    transform: translateY(15px);
}

.center-logo {
    position: absolute;
    left: 50%;
    margin-top: 35px;
    transform: translateX(-256px);
    width: 512px;
    height: 374px;
    background: url("../images/logo_card.png") center;
}

#logo {
    width: 100%;
    display: none;
}

.leaf-1 {
    position: absolute;
    background: url("../images/leaf-1.png") center;
    width: 124px;
    height: 152px;
    top: 270px;
    left: 140px;
}

.leaf-2 {
    position: absolute;
    background: url("../images/leaf-2.png") center;
    width: 118px;
    height: 144px;
    top: -15px;
    left: 605px;
}

.lemon {
    position: absolute;
    background: url("../images/lemon.png") center;
    width: 118px;
    height: 144px;
    top: 300px;
    left: 70px;
}


#parrot {
    position: absolute;
    background: url("../images/parrot.png") center;
    width: 359px;
    height: 293px;
    top: -20px;
    left: 610px;
}

#polaroid1 {
    position: absolute;
    background: url("../images/polaroid1.png") center;
    width: 408px;
    height: 450px;
    background-size: 408px 450px;
    top: 450px;
    left: -300px;
    transform: rotate(-10deg);
}

#polaroid2 {
    position: absolute;
    background: url("../images/polaroid1.png") center;
    width: 408px;
    height: 450px;
    background-size: 408px 450px;
    top: 1400px;
    right: -300px;
    transform: rotate(10deg);
}

#polaroid3 {
    position: absolute;
    background: url("../images/polaroid3.png") center;
    width: 408px;
    height: 450px;
    background-size: 408px 450px;
    top: 3000px;
    left: -400px;
    transform: rotate(-10deg);
}

#polaroid4 {
    position: absolute;
    background: url("../images/polaroid1.png") center;
    width: 408px;
    height: 450px;
    background-size: 408px 450px;
    top: 4450px;
    right: -300px;
    transform: rotate(10deg);
}

#parrot-2 {
    position: absolute;
    background: url("../images/parrot-2.png") center;
    width: 150px;
    height: 128px;
    top: 250px;
    left: 200px;
    /*opacity: 0.5;*/
}

#parrot-trigger {
    position: absolute;
    top:50vh;
}

#polaroid1-trigger {
    position: absolute;
    top:50vh;
}

#polaroid2-trigger {
    position: absolute;
    top:1400px;
}

#polaroid3-trigger {
     position: absolute;
     top:3000px;
}

#polaroid4-trigger {
    position: absolute;
    top:4450px;
}

#navbar-trigger {
    position: absolute;
    top:110vh;
}

#intro {
    position: relative;
    text-align: center;
    margin: 100px 0 50px 0;

}

#intro p {
    padding: 0 20px;
    margin: 20px 0;
    font-size: 30px;
}

#intro h1 {
    font-size: 130px;
    margin-top: 80px;
}

.intro-text {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.cascara p, #team p, .first-right p, .second-left p, .third-right p {
    font-size: 24px;
}


.bottles {
    margin: 0 auto;
    /*width: 208px;*/
    /*height: 301px;*/
    background: url("../images/bottles.jpg") center;
}

.cascara {
    text-align: center;
    margin-bottom: 100px;
}


.cascara h1 {
    margin-bottom: 0;
}

.top-nav-list {
    list-style-type: none;
    text-align: center;
    padding: 0;
}

.top-nav-list li {
    display: inline-block;
}

.top-nav-list li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0 26px;
    text-decoration: none;
    font-weight: bolder;
    text-transform: uppercase;
}

#shop-collection {
    padding-top: 20px;
    text-align: center;
}

.product-embed__image {
    margin: 0 auto;
    border: solid;
}

/*.cascara p {*/
    /*font-size: 20px;*/
/*}*/

.social, #team {
    text-align: center;
}

#team {
    padding-top: 20px;
}


.contact {
    width: 100%;
}

.address {
    float: left;
    width: 400px
}

.newsletter {
    float: right;
    width: 400px
}

.social span {
    color: #cf3a30;
    transition: color 0.5s;
    cursor: pointer;
}

.social span:hover {
    color: #464646;
}

.bottom-area {
    position: relative;
    margin-top: 200px;
}

#palm-tree {
    position: absolute;
    background: url("../images/palm-tree.png") center;
    width: 339px;
    height: 572px;
    bottom: 20px;
    left: 20px;
    z-index: -1;
}

#pink-flower {
    position: absolute;
    background: url("../images/pink-flower.png") center;
    width: 325px;
    height: 229px;
    bottom: 80px;
    right: 20px;
    /*opacity: 0.5;*/
    z-index: -1;
}

#palm-trigger {
    position: absolute;
    top: -700px;
}

.llama-circle {
    border: 6px solid #bbad92;
    border-radius: 50%;
    width:200px;
    margin: 0 auto;
}


.footer {
    height: 171px;
    width: 100%;
    text-align: center;
    padding: 60px;
    background: url("../images/footer-bg.png") center;
    box-sizing: border-box;
}

.footer p{
    color: #b2afa9;
    font-size: 14px;
}

#mc_embed_signup {
    margin-top: 50px;
}

#mc_embed_signup input.email {
    background-color: transparent;
    border: 2px solid #abb0b2;
    border-radius: 0;
}

#mc_embed_signup .button {
    border-radius: 0;
    background-color: transparent;
    border: 2px solid #abb0b2;
    color: #abb0b2;
}

#mc_embed_signup .button:hover {
    border-radius: 0;
    background-color: #abb0b2;
    border: 2px solid #abb0b2;
    color: white;
}

.first-left, .third-left {
    width: 212px;
    box-sizing: border-box;
    float: left;
}

.first-right, .third-right {
    padding: 20px;
    width: 600px;
    float: right;
    box-sizing: border-box;
}

.second-left {
    width: 600px;
    padding: 20px;
    float: left;
    box-sizing: border-box;
}

.second-right {
    width: 212px;
    float: right;
    box-sizing: border-box;
}

.article-content p {
    font-size: 14px;
    text-align: justify;
}


@media (max-width: 1280px) {
    #palm-tree{
        left: -30px;
    }
}

@media (max-width: 1055px) {
    #polaroid1,#polaroid2,#polaroid3,#polaroid4 {
        display: none;
    }

    .first-left, .third-left, .second-right {
        text-align: center;
        float: none;
        width: auto;
    }

    .first-right, .second-left, .third-right {
        width: 100%;
    }

    #desktop-nav {
        display: none;
    }

    #intro {
        margin-bottom: 0;
    }

    .intro-text h1 {
        margin-bottom: 0;
    }

    .berries-mobile {
        display:inline;
        margin-bottom: 40px;
    }

    .berries {
        display:none;
    }

    .bottles-mobile {
        display:inline;
    }

    .bottles {
        display:none;
    }

    #mobile-nav {
        display: inline;
    }

    #panel {
        background-color: #fffef9;
    }

    .top-area{
        display: none;
    }

    .bottom-area {
        display: none;
    }

    .team-image {
        width: 100%;
    }

    #logo {
        display: inline;
    }

    #logo img {
        margin-top: 80px;
    }
}

@media (max-width: 850px) {
    .intro-text {
        float: none;
        width: 100%;
    }

    .intro-bottles {
        float: none;
    }

    .fa-3x {
        font-size: 2em;
    }

    h1 {
        font-size: 60px;
    }

    p {
        font-size: 18px;
    }
}