@font-face {
    font-family: "Brand Standard";
    src: url("../fonts/BrandStandard.otf");
}

body {
    background: url("../images/bg-body-default.jpg") center;
    background-color: #ececea;
}

h1 {
    font-family: 'Brand Standard', cursive;
    color: #bbad92;
    font-size: 80px;
}

p {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: #635645;
}

button:focus {outline:0; !important}

.container{
    position: relative;
}

.top-area {
    font-family: 'Homemade Apple', cursive;
    position: relative;
    margin-top: 120px;
    height: 550px;
}

#north-west {
    position: absolute;
    left: 225px;
    top: 60px;
    background: url("../images/north-west.png") center;
    width: 104px;
    height: 105px;
    padding-top: 15px;
    padding-left: 30px;
    transition: transform 0.15s;
    cursor: pointer;
}

#north {
    position: absolute;
    left: 370px;
    top: 60px;
    background: url("../images/north.png") center;
    width: 117px;
    height: 79px;
    padding-top: 15px;
    padding-left: 30px;
    transition: transform 0.15s;
    cursor: pointer;
}

#north-east {
    position: absolute;
    left: 520px;
    top: 50px;
    background: url("../images/north-east.png") center;
    width: 96px;
    height: 111px;
    padding-top: 25px;
    padding-left: 30px;
    transition: transform 0.15s;
    cursor: pointer;
}

#north-west a, #north a, #north-east a {
    color: #b35d63;
}

#north-west a:hover, #north a:hover, #north-east a:hover{
    text-decoration: none;
    color: #8c3e3e;
}

#north-west:hover, #north:hover, #north-east:hover {
    transform: translateY(-15px);
}

#south-west {
    position: absolute;
    left: 225px;
    top: 305px;
    background: url("../images/south-west.png") center;
    width: 115px;
    height: 89px;
    padding-top: 40px;
    padding-left: 30px;
    transition: transform 0.15s;
    cursor: pointer;
}

#south {
    position: absolute;
    left: 370px;
    top: 305px;
    background: url("../images/south.png") center;
    width: 113px;
    height: 79px;
    padding-top: 40px;
    padding-left: 30px;
    transition: transform 0.15s;
    cursor: pointer;
}

#south-east {
    position: absolute;
    left: 520px;
    top: 300px;
    background: url("../images/south-east.png") center;
    width: 93px;
    height: 88px;
    padding-top: 50px;
    padding-left: 20px;
    transition: transform 0.15s;
    cursor: pointer;
}

#south-west a, #south a, #south-east a {
    color: #b35d63;
}

#south-west a:hover, #south a:hover, #south-east a:hover{
    text-decoration: none;
    color: #8c3e3e;
}


#south-west:hover, #south:hover, #south-east:hover {
    transform: translateY(15px);
}

.center-logo {
    position: absolute;
    left: 50%;
    margin-top: 35px;
    transform: translateX(-256px);
}

.leaf-1 {
    position: absolute;
    background: url("../images/leaf-1.png") center;
    width: 124px;
    height: 152px;
    top: 270px;
    left: 140px;
}

.leaf-2 {
    position: absolute;
    background: url("../images/leaf-2.png") center;
    width: 118px;
    height: 144px;
    top: -15px;
    left: 605px;
}

.lemon {
    position: absolute;
    background: url("../images/lemon.png") center;
    width: 118px;
    height: 144px;
    top: 300px;
    left: 70px;
}

.berries {
    position: absolute;
    background: url("../images/berries.png") center;
    width: 151px;
    height: 78px;
    top: 390px;
    left: 640px;
}

#parrot {
    position: absolute;
    background: url("../images/parrot.png") center;
    width: 359px;
    height: 293px;
    top: -20px;
    left: 610px;
}

#parrot-2 {
    position: absolute;
    background: url("../images/parrot-2.png") center;
    width: 150px;
    height: 128px;
    top: 250px;
    left: 200px;
    /*opacity: 0.5;*/
}

#parrot-trigger {
    position: absolute;
    top:50vh;
}

#intro {
    position: relative;
    text-align: center;
    margin: 200px 0 50px 0;

}

#intro p {
    padding: 0 20px;
    font-size: 20px;
    margin: 20px 0;
}

#intro h1 {
    margin-top: 80px;
}

.bottles {
    margin: 0 auto;
    width: 208px;
    height: 301px;
    background: url("../images/bottles.jpg") center;
}

.cascara {
    text-align: center;
    margin-bottom: 200px;
}

.shop-collection {
    text-align: center;
}

.cascara p {
    font-size: 20px;
}

.social, #team {
    text-align: center;
}


.contact {
    width: 100%;
}

.address {
    float: left;
    width: 400px
}

.newsletter {
    float: right;
    width: 400px
}

.social span {
    color: #cf3a30;
    transition: color 0.5s;
    cursor: pointer;
}

.social span:hover {
    color: #464646;
}

.bottom-area {
    position: relative;
    margin-top: 200px;
}

#palm-tree {
    position: absolute;
    background: url("../images/palm-tree.png") center;
    width: 339px;
    height: 572px;
    bottom: 20px;
    left: 20px;
    z-index: -1;
}

#pink-flower {
    position: absolute;
    background: url("../images/pink-flower.png") center;
    width: 325px;
    height: 229px;
    bottom: 80px;
    right: 20px;
    /*opacity: 0.5;*/
    z-index: -1;
}

#palm-trigger {
    position: absolute;
    top: -700px;
}


.footer {
    height: 171px;
    width: 100%;
    text-align: center;
    padding: 80px;
    background: url("../images/footer-bg.png") center;
}

.footer p{
    color: #b2afa9;
}

#mc_embed_signup {
    margin-top: 400px;
}

@media (min-width: 1200px) {
    .container{
        max-width: 900px;
    }
}